<a href="https://colab.research.google.com/github/GuptaTanay/Battery-Level-Prediction/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import files
# files.upload()

In [2]:
import pandas as pd
from tqdm import tqdm

from scipy.spatial.distance import cdist
from scipy.spatial import distance
from nltk.cluster import KMeansClusterer, euclidean_distance
from scipy import spatial
# from sql import *

In [3]:
fin_data = pd.read_excel('vw_FinancialData_Net_Income.xlsx')
demo_data = pd.read_csv('vw_population_with_Median_Age.csv')

In [4]:
fin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221791 entries, 0 to 221790
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   IDRSSD                221791 non-null  int64
 1   Cycle_Date            221791 non-null  datetime64[ns]
 2   Cycle Year            221791 non-null  int64
 3   CU_Bank_Name          221791 non-null  object
 4   Bank Type             221791 non-null  object
 5   City_Name             221791 non-null  object
 6   State_Code            221791 non-null  object
 7   County_fips           221791 non-null  int64
 8   County_Name           221686 non-null  object
 9   TOTAL_ASSETS          221791 non-null  int64
 10  TOTAL_DEPOSITS        221791 non-null  int64
 11  TOTAL_LIABILITIES     221791 non-null  int64
 12  TOTAL_EQUITY_CAPITAL  221791 non-null  int64
 13  Source_Type           221791 non-null  object
 14  Net_Income            221791 non-null  int64
 15  a                     221791 non-null  int64
 16  Quaterly_Net_Income   221791 non-null  int64
 17  Annual_Net_Income     221791 non-null  int64
 18  ROE                   221791 non-null  float64
 19  ROA                   221791 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(11), object(6)
memory usage: 33.8+ MB

In [5]:
demo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606676 entries, 0 to 606675
Data columns (total 20 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   CU_BANK_NAME                          606676 non-null  object
 1   SiteId                                606676 non-null  int64
 2   Site_Name                             606676 non-null  object
 3   County_fips                           606676 non-null  int64
 4   County_Name                           606672 non-null  object
 5   State_Code                            606676 non-null  object
 6   Branch_County_FIPS                    606676 non-null  int64
 7   Branch_County_Name                    606676 non-null  object
 8   Branch_State_Code                     606676 non-null  object
 9   Branch_State_Name                     606672 non-null  object
 10  Branch_City_Name                      606676 non-null  object
 11  Source_Type                           606676 non-null  object
 12  PhysicalAddressLine1                  606676 non-null  object
 13  PhysicalAddressPostalCode             606676 non-null  object
 14  Population                            606676 non-null  int64
 15  Year                                  606676 non-null  int64
 16  NetFlow                               606676 non-null  float64
 17  Median_age_years                      606676 non-null  float64
 18  Net_Migration_per_1000_of_Population  606676 non-null  float64
 19  BranchCount                           606676 non-null  int64
dtypes: float64(3), int64(6), object(11)
memory usage: 92.6+ MB

In [6]:
fin_data.columns

Index(['IDRSSD', 'Cycle_Date', 'Cycle Year', 'CU_Bank_Name', 'Bank Type',
       'City_Name', 'State_Code', 'County_fips', 'County_Name', 'TOTAL_ASSETS',
       'TOTAL_DEPOSITS', 'TOTAL_LIABILITIES', 'TOTAL_EQUITY_CAPITAL',
       'Source_Type', 'Net_Income', 'a', 'Quaterly_Net_Income',
       'Annual_Net_Income', 'ROE', 'ROA'],
      dtype='object')

In [7]:
demo_data.columns

Index(['CU_BANK_NAME', 'SiteId', 'Site_Name', 'County_fips', 'County_Name',
       'State_Code', 'Branch_County_FIPS', 'Branch_County_Name',
       'Branch_State_Code', 'Branch_State_Name', 'Branch_City_Name',
       'Source_Type', 'PhysicalAddressLine1', 'PhysicalAddressPostalCode',
       'Population', 'Year', 'NetFlow', 'Median_age_years',
       'Net_Migration_per_1000_of_Population', 'BranchCount'],
      dtype='object')

In [8]:
latest_fin_data = fin_data.loc[fin_data.Cycle_Date == '3/31/2021']

In [9]:
latest_fin_data.head()

      IDRSSD Cycle_Date  Cycle Year  ... Annual_Net_Income       ROE       ROA
20   1000052 2021-03-31        2021  ...           6332000  0.125772  0.012109
41   1000089 2021-03-31        2021  ...           1213386  0.025422  0.024068
62   1000100 2021-03-31        2021  ...          76681000  0.100045  0.011794
83   1000173 2021-03-31        2021  ...          53560520  0.082699  0.074392
104  1000276 2021-03-31        2021  ...           2046000  0.038207  0.005393

[5 rows x 20 columns]

In [10]:
# latest_fin_data = latest_fin_data[['CU_Bank_Name', 'Cycle_Date', 'TOTAL_ASSETS']]

In [11]:
# latest_fin_data

In [12]:
latest_fin_data.columns

Index(['IDRSSD', 'Cycle_Date', 'Cycle Year', 'CU_Bank_Name', 'Bank Type',
       'City_Name', 'State_Code', 'County_fips', 'County_Name', 'TOTAL_ASSETS',
       'TOTAL_DEPOSITS', 'TOTAL_LIABILITIES', 'TOTAL_EQUITY_CAPITAL',
       'Source_Type', 'Net_Income', 'a', 'Quaterly_Net_Income',
       'Annual_Net_Income', 'ROE', 'ROA'],
      dtype='object')

In [13]:
merged_data = latest_fin_data.merge(demo_data, left_on=['CU_Bank_Name', 'City_Name', 'State_Code', 'County_fips', 'County_Name'],
                                    right_on=['CU_BANK_NAME', 'Branch_City_Name','Branch_State_Code', 'Branch_County_FIPS', 'Branch_City_Name'])

In [14]:
merged_data

       IDRSSD Cycle_Date  ...  Net_Migration_per_1000_of_Population BranchCount
0     1000584 2021-03-31  ...                                 5.659          20
1     1000584 2021-03-31  ...                                 8.098          20
2     1000584 2021-03-31  ...                                10.559          20
3     1000584 2021-03-31  ...                                 0.000          20
4     1000584 2021-03-31  ...                                 5.659          20
...       ...        ...  ...                                   ...         ...
9207   996260 2021-03-31  ...                                 0.000          28
9208   999994 2021-03-31  ...                                 4.822           4
9209   999994 2021-03-31  ...                                 4.805           4
9210   999994 2021-03-31  ...                                 1.084           4
9211   999994 2021-03-31  ...                                 0.000           4

[9212 rows x 40 columns]

In [15]:
def find_groups(df):
  if df.TOTAL_ASSETS<= 2 * (10**9):
    return 'group_0'
  elif df.TOTAL_ASSETS> 2 * (10**9) and df.TOTAL_ASSETS <= 5 * (10**9):
    return 'group_1'
  elif df.TOTAL_ASSETS> 5 * (10**9) and df.TOTAL_ASSETS<= 10 * (10**9):
    return 'group_2'
  else:
    return 'group_3'

In [16]:
latest_fin_data['GroupName'] = latest_fin_data.apply(find_groups, axis =1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
latest_fin_data

         IDRSSD Cycle_Date  Cycle Year  ...       ROE       ROA GroupName
20      1000052 2021-03-31        2021  ...  0.125772  0.012109   group_0
41      1000089 2021-03-31        2021  ...  0.025422  0.024068   group_0
62      1000100 2021-03-31        2021  ...  0.100045  0.011794   group_2
83      1000173 2021-03-31        2021  ...  0.082699  0.074392   group_0
104     1000276 2021-03-31        2021  ...  0.038207  0.005393   group_0
...         ...        ...         ...  ...       ...       ...       ...
221705   999935 2021-03-31        2021  ...  0.143332  0.012393   group_0
221727   999992 2021-03-31        2021  ...  0.124227  0.089668   group_0
221748   999993 2021-03-31        2021  ...  0.086502  0.078947   group_0
221769   999994 2021-03-31        2021  ...  0.110695  0.101817   group_0
221790   999995 2021-03-31        2021  ...  0.284987  0.227631   group_0

[10038 rows x 21 columns]

In [18]:
latest_fin_data.CU_Bank_Name.value_counts()

First State Bank         43
Farmers State Bank       25
Citizens State Bank      18
Peoples Bank             16
Community State Bank     15
                         ..
POSTAL                    1
NEW ENGLAND TEAMSTERS     1
COLLEGEDALE               1
Alma Bank                 1
SIGNATURE                 1
Name: CU_Bank_Name, Length: 9225, dtype: int64

In [19]:
latest_fin_data.loc[latest_fin_data.CU_Bank_Name == 'First State Bank']

         IDRSSD Cycle_Date  Cycle Year  ...       ROE       ROA GroupName
6606      10849 2021-03-31        2021  ...  0.067480  0.007332   group_0
7919     113740 2021-03-31        2021  ...  0.076777  0.006904   group_0
8301     114840 2021-03-31        2021  ...  0.099224  0.008960   group_0
8811     116554 2021-03-31        2021  ...  0.156123  0.024888   group_0
18596    151957 2021-03-31        2021  ...  0.190802  0.020463   group_0
22660    172859 2021-03-31        2021  ...  0.121429  0.015947   group_0
27087    190947 2021-03-31        2021  ...  0.025530  0.002266   group_0
33447    216164 2021-03-31        2021  ...  0.237432  0.021544   group_0
46779    264455 2021-03-31        2021  ...  0.109270  0.010778   group_0
54283    284958 2021-03-31        2021  ...  0.039504  0.004535   group_0
57626    294023 2021-03-31        2021  ...  0.085779  0.007966   group_0
68735   3285246 2021-03-31        2021  ...  0.182124  0.020601   group_0
82675     36933 2021-03-31        2021  ...  0.155940  0.012034   group_0
91985    407168 2021-03-31        2021  ...  0.015264  0.001463   group_0
92595    410560 2021-03-31        2021  ...  0.127969  0.013911   group_0
93755     41553 2021-03-31        2021  ...  0.059007  0.006599   group_0
98294    435750 2021-03-31        2021  ...  0.129268  0.011636   group_0
110027   488756 2021-03-31        2021  ...  0.178753  0.025877   group_0
111910   497655 2021-03-31        2021  ...  0.086936  0.008878   group_0
112144   498456 2021-03-31        2021  ...  0.053710  0.004492   group_0
115488   513854 2021-03-31        2021  ...  0.050598  0.004339   group_0
117467   522454 2021-03-31        2021  ...  0.110461  0.013573   group_0
117969   524766 2021-03-31        2021  ...  0.076239  0.013795   group_0
125655   561145 2021-03-31        2021  ...  0.093918  0.012140   group_0
126600   565143 2021-03-31        2021  ...  0.117339  0.012769   group_0
135287   603755 2021-03-31        2021  ...  0.091539  0.007945   group_0
151682   677448 2021-03-31        2021  ...  0.137633  0.015332   group_0
160372   719964 2021-03-31        2021  ...  0.112437  0.012397   group_0
165894   744256 2021-03-31        2021  ...  0.207865  0.019657   group_0
172419   773546 2021-03-31        2021  ...  0.042233  0.004335   group_0
176848   795249 2021-03-31        2021  ...  0.099875  0.012575   group_0
177020   796152 2021-03-31        2021  ...  0.185823  0.016038   group_0
178074   801047 2021-03-31        2021  ...  0.090229  0.009686   group_0
182777   822846 2021-03-31        2021  ...  0.121167  0.013917   group_0
190124   854847 2021-03-31        2021  ...  0.069210  0.006819   group_0
191923   861854 2021-03-31        2021  ...  0.092363  0.011356   group_0
196668   884358 2021-03-31        2021  ...  0.052144  0.007275   group_0
197347   887340 2021-03-31        2021  ...  0.153248  0.015637   group_0
199643   899642 2021-03-31        2021  ...  0.139825  0.011679   group_0
202980   917050 2021-03-31        2021  ...  0.134601  0.014142   group_0
204746   924236 2021-03-31        2021  ...  0.057586  0.007081   group_0
214138   965051 2021-03-31        2021  ...  0.106229  0.012767   group_0
221308    99853 2021-03-31        2021  ...  0.030578  0.003109   group_0

[43 rows x 21 columns]

In [20]:
data_group = latest_fin_data[['CU_Bank_Name', 'GroupName']]

In [21]:
data_group.drop_duplicates(inplace =True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
data_group.CU_Bank_Name.value_counts()

United Bank                    3
Northwest Bank                 3
Peoples Bank                   3
Pinnacle Bank                  3
First Bank                     3
                              ..
GRANITE FURNITURE EMPLOYEES    1
Jackson Savings Bank, SSB      1
N.U.L.                         1
Brazos National Bank           1
SIGNATURE                      1
Name: CU_Bank_Name, Length: 9225, dtype: int64

In [23]:
data_group.loc[data_group.CU_Bank_Name =='Peoples Bank']

        CU_Bank_Name GroupName
12371   Peoples Bank   group_0
102913  Peoples Bank   group_1
129401  Peoples Bank   group_2

In [24]:
merged_data['GroupName'] = merged_data.apply(find_groups, axis =1)

In [25]:
# merged_data

In [26]:
demo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606676 entries, 0 to 606675
Data columns (total 20 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   CU_BANK_NAME                          606676 non-null  object
 1   SiteId                                606676 non-null  int64
 2   Site_Name                             606676 non-null  object
 3   County_fips                           606676 non-null  int64
 4   County_Name                           606672 non-null  object
 5   State_Code                            606676 non-null  object
 6   Branch_County_FIPS                    606676 non-null  int64
 7   Branch_County_Name                    606676 non-null  object
 8   Branch_State_Code                     606676 non-null  object
 9   Branch_State_Name                     606672 non-null  object
 10  Branch_City_Name                      606676 non-null  object
 11  Source_Type                           606676 non-null  object
 12  PhysicalAddressLine1                  606676 non-null  object
 13  PhysicalAddressPostalCode             606676 non-null  object
 14  Population                            606676 non-null  int64
 15  Year                                  606676 non-null  int64
 16  NetFlow                               606676 non-null  float64
 17  Median_age_years                      606676 non-null  float64
 18  Net_Migration_per_1000_of_Population  606676 non-null  float64
 19  BranchCount                           606676 non-null  int64
dtypes: float64(3), int64(6), object(11)
memory usage: 92.6+ MB

In [27]:
banks_group0 = merged_data.loc[merged_data.GroupName == 'group_0']
banks_group0

       IDRSSD Cycle_Date  ...  BranchCount GroupName
0     1000584 2021-03-31  ...           20   group_0
1     1000584 2021-03-31  ...           20   group_0
2     1000584 2021-03-31  ...           20   group_0
3     1000584 2021-03-31  ...           20   group_0
4     1000584 2021-03-31  ...           20   group_0
...       ...        ...  ...          ...       ...
9203   993371 2021-03-31  ...            4   group_0
9208   999994 2021-03-31  ...            4   group_0
9209   999994 2021-03-31  ...            4   group_0
9210   999994 2021-03-31  ...            4   group_0
9211   999994 2021-03-31  ...            4   group_0

[6908 rows x 41 columns]

In [28]:
banks_group1 = merged_data.loc[merged_data.GroupName == 'group_1']
banks_group1

       IDRSSD Cycle_Date  ...  BranchCount GroupName
84    1015560 2021-03-31  ...            8   group_1
85    1015560 2021-03-31  ...            8   group_1
86    1015560 2021-03-31  ...            8   group_1
87    1015560 2021-03-31  ...            8   group_1
88    1015560 2021-03-31  ...            8   group_1
...       ...        ...  ...          ...       ...
9047   976703 2021-03-31  ...            4   group_1
9204   996260 2021-03-31  ...           28   group_1
9205   996260 2021-03-31  ...           28   group_1
9206   996260 2021-03-31  ...           28   group_1
9207   996260 2021-03-31  ...           28   group_1

[1154 rows x 41 columns]

In [29]:
banks_group2 = merged_data.loc[merged_data.GroupName == 'group_2']
banks_group2

       IDRSSD Cycle_Date  ...  BranchCount GroupName
660   1216321 2021-03-31  ...           28   group_2
661   1216321 2021-03-31  ...           28   group_2
662   1216321 2021-03-31  ...           28   group_2
663   1216321 2021-03-31  ...           28   group_2
664   1216321 2021-03-31  ...           28   group_2
...       ...        ...  ...          ...       ...
8791   945978 2021-03-31  ...           32   group_2
8792   945978 2021-03-31  ...           32   group_2
8793   945978 2021-03-31  ...           32   group_2
8794   945978 2021-03-31  ...           32   group_2
8795   945978 2021-03-31  ...           32   group_2

[428 rows x 41 columns]

In [30]:
banks_group3 = merged_data.loc[merged_data.GroupName == 'group_3']
banks_group3

       IDRSSD Cycle_Date  ...  BranchCount GroupName
20    1002878 2021-03-31  ...           72   group_3
21    1002878 2021-03-31  ...           72   group_3
22    1002878 2021-03-31  ...           72   group_3
23    1002878 2021-03-31  ...           72   group_3
24    1002878 2021-03-31  ...           72   group_3
...       ...        ...  ...          ...       ...
8907   959395 2021-03-31  ...          100   group_3
8908   959395 2021-03-31  ...          100   group_3
8909   959395 2021-03-31  ...          100   group_3
8910   959395 2021-03-31  ...          100   group_3
8911   959395 2021-03-31  ...          100   group_3

[722 rows x 41 columns]

In [31]:
county_data_0 = banks_group0.groupby("County_Name_x").agg({'NetFlow': 'sum', 'Population': 'sum', 'Median_age_years': 'max'})
county_data_0.to_csv("county_data_group_0.csv")

In [32]:
county_data_1 = banks_group1.groupby("County_Name_x").agg({'NetFlow': 'sum', 'Population': 'sum', 'Median_age_years': 'max'})
county_data_1.to_csv("county_data_group_1.csv")

In [33]:
county_data_2 = banks_group2.groupby("County_Name_x").agg({'NetFlow': 'sum', 'Population': 'sum', 'Median_age_years': 'max'})
county_data_2.to_csv("county_data_group_2.csv")

In [34]:
county_data_3 = banks_group3.groupby("County_Name_x").agg({'NetFlow': 'sum', 'Population': 'sum', 'Median_age_years': 'max'})
county_data_3.to_csv("county_data_group_3.csv")

In [35]:
county_data_0 = pd.read_csv("county_data_group_0.csv")
county_data_dict_0 = county_data_0.set_index('County_Name_x').T.to_dict('list')
county_data_dict_0

{'Abbeville': [-242.0, 99023.0, 44.3],
 'Adair': [-3468.0, 114924.0, 46.0],
 'Aiken': [14112.0, 5328640.0, 41.0],
 'Aitkin': [-1200.0, 126462.0, 55.5],
 'Alamosa': [11058.0, 391494.0, 31.8],
 'Albany': [271450.0, 30771625.0, 37.9],
 'Allegan': [-3639.0, 459204.0, 40.0],
 'Anchorage': [0.0, 7170552.0, 33.1],
 'Anderson': [5014.0, 1561884.0, 40.8],
 'Andrews': [3724.0, 282584.0, 31.6],
 'Appomattox': [-2324.0, 124120.0, 43.5],
 'Arlington': [8666.0, 1841786.0, 34.7],
 'Ashland': [3031.0, 402787.0, 42.0],
 'Ashtabula': [-17318.0, 2756341.0, 42.5],
 'Atchison': [-3400.0, 262616.0, 36.6],
 'Athens': [71656.0, 1050076.0, 29.6],
 'Atoka': [410.0, 110886.0, 40.8],
 'Audubon': [-1350.0, 45424.0, 49.0],
 'Baltimore': [202446.0, 40956678.0, 39.4],
 'Bamberg': [241.0, 58875.0, 41.9],
 'Bandera': [3648.0, 86309.0, 52.2],
 'Barron': [-2248.0, 362774.0, 44.2],
 'Bastrop': [24104.0, 1302764.0, 38.8],
 'Beaver': [-3407.0, 735243.0, 45.1],
 'Bedford': [-1317.0, 194691.0, 46.5],
 'Bennington': [3148.0, 288446.0, 47.0],
 'Boone': [544.0, 211122.0, 41.8],
 'Bottineau': [-60.0, 52784.0, 45.2],
 'Boulder': [61370.0, 2548566.0, 36.6],
 'Bowman': [-552.0, 12807.0, 42.6],
 'Bronx': [-210402.0, 51890139.0, 34.2],
 'Buckingham': [-119.0, 68141.0, 43.5],
 'Burnet': [7772.0, 363762.0, 44.6],
 'Butler': [3809.0, 745423.0, 43.3],
 'Cape Girardeau': [47600.0, 3129170.0, 36.6],
 'Carroll': [-6004.0, 326432.0, 42.0],
 'Carson City': [1381.0, 109240.0, 42.8],
 'Cascade': [200.0, 654472.0, 38.4],
 'Cattaraugus': [-3981.0, 311488.0, 42.0],
 'Champaign': [194808.0, 5002416.0, 30.1],
 'Charleston': [17832.0, 4693179.0, 37.8],
 'Charlevoix': [240.0, 314217.0, 48.6],
 'Charlottesville': [0.0, 368100.0, 30.9],
 'Cheboygan': [-1735.0, 509650.0, 51.1],
 'Cherokee': [28.0, 46140.0, 46.8],
 'Chester': [-1476.0, 129496.0, 42.0],
 'Childress': [-150.0, 57204.0, 34.5],
 'Clarion': [4866.0, 310456.0, 41.5],
 'Clay': [-1480.0, 70856.0, 44.1],
 'Clinton': [6550.0, 1896860.0, 42.2],
 'Coleman': [-3234.0, 100869.0, 47.2],
 'Coshocton': [2268.0, 439278.0, 41.4],
 'Covington': [0.0, 11325.0, 44.2],
 'Cullman': [-7748.0, 4266405.0, 40.8],
 'Dallas': [627729.0, 851471021.0, 33.4],
 'Danville': [0.0, 84271.0, 41.5],
 'Darlington': [3123.0, 269541.0, 41.4],
 'Defiance': [2355.0, 766190.0, 40.6],
 'Delaware': [12566.0, 1560326.0, 38.8],
 'Denton': [88548.0, 3176840.0, 35.5],
 'Denver': [212634.0, 49333734.0, 34.5],
 'Dickson': [34950.0, 3104025.0, 40.0],
 'Dodge': [-6650.0, 3665075.0, 39.1],
 'Dubuque': [118680.0, 9281136.0, 38.6],
 'Durham': [63272.0, 4855152.0, 35.4],
 'Eau Claire': [15366.0, 1232400.0, 34.5],
 'Effingham': [-11835.0, 2052465.0, 39.4],
 'El Paso': [-110029.0, 63500527.0, 32.2],
 'Elko': [1192.0, 417910.0, 34.1],
 'Ellis': [3413.0, 115562.0, 32.6],
 'Ellsworth': [702.0, 50460.0, 43.8],
 'Erie': [3107.0, 14387542.0, 39.7],
 'Fairfax': [22215.0, 4611482.0, 39.6],
 'Fayette': [674.0, 133038.0, 43.8],
 'Florence': [-18890.0, 1125775.0, 53.6],
 'Frederick': [-97.0, 989464.0, 39.3],
 'Fredericksburg': [0.0, 111976.0, 29.9],
 'Fresno': [183488.0, 62358832.0, 32.2],
 'Galveston': [148072.0, 10365144.0, 37.7],
 'Gonzales': [-227.0, 82326.0, 37.3],
 'Grand Forks': [104225.0, 3086017.0, 29.7],
 'Greenville': [83741.0, 13845496.0, 38.2],
 'Greenwood': [16194.0, 1683222.0, 39.5],
 'Gregory': [9.0, 16813.0, 46.3],
 'Gunnison': [3672.0, 130886.0, 34.5],
 'Hampton': [-1037.0, 1717997.0, 40.1],
 'Hartford': [-12805.0, 17907035.0, 40.4],
 'Haskell': [2246.0, 23153.0, 43.5],
 'Henderson': [6556.0, 738320.0, 41.2],
 'Henrico': [57544.0, 5196684.0, 38.8],
 'Hillsdale': [-1470.0, 367040.0, 42.3],
 'Honolulu': [797088.0, 300163368.0, 37.9],
 'Humboldt': [-205.0, 38313.0, 43.3],
 'Huntingdon': [1670.0, 182320.0, 43.7],
 'Huntington': [13226.0, 2481201.0, 40.7],
 'Indiana': [60092.0, 1379316.0, 40.2],
 'Iroquois': [-166.0, 113252.0, 44.5],
 'Jackson': [-110.0, 40268.0, 44.8],
 'Jasper': [1098.0, 142094.0, 40.9],
 'Juneau': [0.0, 194874.0, 38.0],
 'Kalamazoo': [97455.0, 5213765.0, 34.4],
 'Kankakee': [-5928.0, 1775968.0, 37.7],
 'Kimball': [224.0, 14701.0, 46.6],
 'Kingman': [-566.0, 60166.0, 45.5],
 'La Crosse': [33636.0, 1883456.0, 35.9],
 'LaMoure': [61.0, 16442.0, 48.4],
 'Lafayette': [0.0, 3312351.0, 34.5],
 'Lampasas': [-9420.0, 493992.0, 43.1],
 'Lancaster': [40014.0, 12893700.0, 38.6],
 'Leavenworth': [4855.0, 1594655.0, 37.8],
 'Lexington': [237204.0, 24995652.0, 39.1],
 'Liberty': [28602.0, 972138.0, 36.2],
 'Llano': [6952.0, 326024.0, 57.6],
 'Logan': [-9424.0, 546196.0, 43.8],
 'Lonoke': [-97768.0, 25307128.0, 36.2],
 'Lorain': [10440.0, 3671637.0, 41.8],
 'Los Alamos': [-313.0, 72907.0, 43.5],
 'Los Angeles': [-4479024.0, 2057467449.0, 36.5],
 'Lubbock': [1489980.0, 71939160.0, 30.8],
 'Luzerne': [1644.0, 1272686.0, 43.0],
 'Lynchburg': [0.0, 631968.0, 28.6],
 'Macon': [-1117.0, 489202.0, 43.3],
 'Madison': [911.0, 214443.0, 43.5],
 'Mahnomen': [212.0, 21987.0, 36.1],
 'Manistee': [1458.0, 195596.0, 49.3],
 'Manitowoc': [-20545.0, 1592250.0, 44.9],
 'Marinette': [2070.0, 813650.0, 48.7],
 'Marion': [11914.0, 960144.0, 45.1],
 'Marquette': [12123.0, 804564.0, 39.1],
 'Martinsville': [0.0, 26807.0, 42.7],
 'Mason': [2700.0, 82665.0, 49.9],
 'McPherson': [-448.0, 115153.0, 41.8],
 'Menard': [316.0, 8528.0, 51.8],
 'Merced': [15698.0, 2145696.0, 31.1],
 'Middlesex': [-29304.0, 9965274.0, 38.6],
 'Midland': [240200.0, 32403050.0, 31.9],
 'Milwaukee': [-39920.0, 15269308.0, 34.9],
 'Missoula': [31130.0, 2303120.0, 36.0],
 'Mobile': [-17824.0, 3314784.0, 37.9],
 'Monterey': [6677.0, 1729991.0, 34.4],
 'Montgomery': [79233.0, 9992334.0, 36.4],
 'Montrose': [1270.0, 164728.0, 45.2],
 'Morgan': [-577.0, 44714.0, 32.4],
 'Muscatine': [-43270.0, 1717110.0, 38.1],
 'Muskegon': [6222.0, 2073585.0, 39.3],
 'Muskogee': [8994.0, 554460.0, 37.9],
 'Nacogdoches': [36180.0, 1571184.0, 30.9],
 'Natchitoches': [0.0, 861399.0, 33.6],
 'New Castle': [34650.0, 4436662.0, 38.4],
 'New Haven': [9515.0, 17199265.0, 40.3],
 'New London': [14170.0, 2158152.0, 41.4],
 'New Madrid': [-2657.0, 71630.0, 42.0],
 'New York': [774444.0, 288346916.0, 37.5],
 'Nicollet': [2837.0, 134440.0, 36.3],
 'Northampton': [3687.0, 1206048.0, 42.2],
 'Northumberland': [-586.0, 741428.0, 44.5],
 'Norton': [448.0, 176136.0, 43.7],
 'Okmulgee': [772.0, 312162.0, 39.2],
 'Ontonagon': [-150.0, 24082.0, 58.6],
 'Orange': [7509.0, 1007328.0, 37.9],
 'Oswego': [7524.0, 1433367.0, 40.3],
 'Ouray': [-371.0, 18822.0, 54.1],
 'Passaic': [-7036.0, 2025445.0, 37.2],
 'Peoria': [-48986.0, 5181372.0, 37.5],
 'Philadelphia': [165060.0, 263936064.0, 34.4],
 'Pickens': [21722.0, 977892.0, 36.2],
 'Pierce': [-952.0, 28655.0, 41.7],
 'Pipestone': [591.0, 36890.0, 42.4],
 'Pocahontas': [-272.0, 55456.0, 47.9],
 'Pontotoc': [6812.0, 499480.0, 37.3],
 'Porter': [2187.0, 671084.0, 39.5],
 'Powhatan': [994.0, 114039.0, 45.1],
 'Pratt': [6955.0, 499629.0, 39.2],
 'Prince George': [3722.0, 302752.0, 37.1],
 'Providence': [231630.0, 53241678.0, 37.4],
 'Pueblo': [31716.0, 5905737.0, 39.3],
 'Radford': [0.0, 34566.0, 22.7],
 'Refugio': [267.0, 28989.0, 43.3],
 'Riley': [4203.0, 301074.0, 25.1],
 'Riverside': [623623.0, 66315333.0, 35.6],
 'Roanoke': [9680.0, 4587048.0, 43.8],
 'Rockwall': [7437.0, 1107723.0, 37.6],
 'Rolette': [-890.0, 58378.0, 31.4],
 'Roseau': [-784.0, 61969.0, 41.6],
 'Rutland': [-5940.0, 1189870.0, 46.6],
 'Sacramento': [533775.0, 66102036.0, 36.2],
 'Saginaw': [-10323.0, 6962427.0, 40.9],
 'San Diego': [254355.0, 197338905.0, 35.8],
 'San Francisco': [97467.0, 183356150.0, 38.4],
 'San Juan': [0.0, 23005600.0, 41.8],
 'San Luis Obispo': [20587.0, 1122419.0, 39.2],
 'San Mateo': [27528.0, 6103112.0, 39.7],
 'San Saba': [1058.0, 23685.0, 42.4],
 'Santa Barbara': [121572.0, 7083832.0, 33.8],
 'Santa Clara': [234116.0, 30583808.0, 37.1],
 'Santa Cruz': [18506.0, 2183842.0, 37.8],
 'Santa Fe': [41258.0, 8302616.0, 46.3],
 'Sarasota': [73134.0, 4903470.0, 56.1],
 'Seward': [3525.0, 205368.0, 38.3],
 'Sheridan': [231.0, 360120.0, 42.4],
 'Sitka': [0.0, 17731.0, 39.1],
 'Socorro': [-110528.0, 6008640.0, 40.0],
 'Somerset': [-12562.0, 2529536.0, 46.1],
 'Spartanburg': [23568.0, 2403546.0, 38.3],
 'Spokane': [731772.0, 35640054.0, 37.6],
 'St. Charles': [1546.0, 1549246.0, 38.6],
 'Stafford': [-308.0, 16930.0, 44.4],
 'Stanton': [-332.0, 23991.0, 42.1],
 'Sullivan': [774.0, 83448.0, 41.4],
 'Sumter': [-19812.0, 5145756.0, 36.4],
 'Talladega': [-3205.0, 322897.0, 41.3],
 'Taos': [1096.0, 262888.0, 48.8],
 'Tipton': [216.0, 122234.0, 45.1],
 'Trinity': [187.0, 58030.0, 48.7],
 'Tulsa': [981550.0, 171261782.0, 35.7],
 'Tuscaloosa': [89492.0, 3281652.0, 33.0],
 'Twin Falls': [16938.0, 1990428.0, 34.7],
 'Union': [-1827.0, 332502.0, 44.0],
 'Uvalde': [1320.0, 215998.0, 33.9],
 'Van Wert': [-346.0, 226610.0, 41.4],
 'Victoria': [-494.0, 733172.0, 35.9],
 'Wabash': [3252.0, 1524540.0, 42.3],
 'Wadena': [-424.0, 218724.0, 43.0],
 'Wagoner': [942.0, 309828.0, 38.8],
 'Walla Walla': [21800.0, 1201360.0, 37.5],
 'Warren': [-1154.0, 160785.0, 47.4],
 'Waseca': [1518.0, 150962.0, 40.5],
 'Washington': [21264.0, 6456197.0, 46.5],
 'Waukesha': [3072.0, 19097544.0, 43.2],
 'Waupaca': [2537.0, 206314.0, 45.5],
 'Wayne': [2610.0, 75044.0, 32.0],
 'Waynesboro': [0.0, 42986.0, 40.0],
 'Wharton': [-1712.0, 331870.0, 37.5],
 'Winona': [9444.0, 611127.0, 35.2],
 'Woodward': [-1656.0, 251835.0, 36.5],
 'Worcester': [8300.0, 32788900.0, 40.2],
 'Yakima': [1833.0, 2984946.0, 33.0],
 'York': [97728.0, 35884801.0, 41.0],
 'Yuma': [40386.0, 2474610.0, 34.6],
 'Zapata': [355.0, 287115.0, 29.6]}

In [36]:
county_data_1 = pd.read_csv("county_data_group_1.csv")
county_data_dict_1 = county_data_1.set_index('County_Name_x').T.to_dict('list')
county_data_dict_1

{'Alexandria': [0.0, 1837098.0, 36.4],
 'Anchorage': [0.0, 8963190.0, 33.1],
 'Brookings': [66848.0, 2175552.0, 27.0],
 'Clearfield': [15810.0, 1930998.0, 45.0],
 'Dallas': [30252.0, 41034748.0, 33.4],
 'Danville': [0.0, 337084.0, 41.5],
 'Denver': [129943.0, 30148393.0, 34.5],
 'Eau Claire': [81952.0, 6572800.0, 34.5],
 'El Paso': [-191103.0, 110290389.0, 32.2],
 'Fresno': [149084.0, 50666551.0, 32.2],
 'Grand Forks': [37900.0, 1122188.0, 29.7],
 'Greenville': [35889.0, 5933784.0, 38.2],
 'Hartford': [-2561.0, 3581407.0, 40.4],
 'Honolulu': [220248.0, 82939878.0, 37.9],
 'Lafayette': [0.0, 3312351.0, 34.5],
 'Los Angeles': [-1229536.0, 564794986.0, 36.5],
 'Lubbock': [670491.0, 32372622.0, 30.8],
 'Manitowoc': [-8218.0, 636900.0, 44.9],
 'Martinsville': [0.0, 26807.0, 42.7],
 'Midland': [1510.0, 333792.0, 41.8],
 'Muskogee': [8994.0, 554460.0, 37.9],
 'New York': [246414.0, 91746746.0, 37.5],
 'Newport': [6163.0, 331794.0, 45.2],
 'Philadelphia': [62880.0, 100547072.0, 34.4],
 'Providence': [22060.0, 5070636.0, 37.4],
 'Sacramento': [291150.0, 36055656.0, 36.2],
 'Santa Barbara': [151965.0, 8854790.0, 33.8],
 'Tuscaloosa': [67119.0, 2461239.0, 33.0],
 'Winona': [9444.0, 611127.0, 35.2],
 'Yankton': [2264.0, 181486.0, 42.1],
 'York': [51724.0, 12843114.0, 41.0]}

In [37]:
county_data_2 = pd.read_csv("county_data_group_2.csv")
county_data_dict_2 = county_data_2.set_index('County_Name_x').T.to_dict('list')
county_data_dict_2

{'Arlington': [4333.0, 920893.0, 34.7],
 'Dallas': [105882.0, 143621618.0, 33.4],
 'Denver': [35439.0, 8222289.0, 34.5],
 'Effingham': [-2367.0, 410493.0, 39.4],
 'Honolulu': [325128.0, 122435058.0, 37.9],
 'Indiana': [135207.0, 3103461.0, 40.2],
 'Los Angeles': [-1141712.0, 524452487.0, 36.5],
 'New York': [88005.0, 32766695.0, 37.5],
 'Peoria': [-48986.0, 5181372.0, 37.5],
 'Philadelphia': [58950.0, 94262880.0, 34.4],
 'Racine': [-15978.0, 4685844.0, 40.2]}

In [38]:
county_data_3 = pd.read_csv("county_data_group_3.csv")
county_data_dict_3 = county_data_3.set_index('County_Name_x').T.to_dict('list')
county_data_dict_3

{'Anchorage': [0.0, 4780368.0, 33.1],
 'Arlington': [4333.0, 920893.0, 34.7],
 'Champaign': [194808.0, 5002416.0, 30.1],
 'Dallas': [22689.0, 30776061.0, 33.4],
 'Fairfax': [266580.0, 55337784.0, 39.6],
 'Lancaster': [60021.0, 19340550.0, 38.6],
 'Los Angeles': [-1141712.0, 524452487.0, 36.5],
 'New York': [774444.0, 288346916.0, 37.5],
 'Passaic': [-28144.0, 8101780.0, 37.2],
 'Portsmouth': [0.0, 574821.0, 35.2],
 'Sacramento': [727875.0, 90139140.0, 36.2],
 'San Diego': [271312.0, 210494832.0, 35.8],
 'San Juan': [0.0, 4313550.0, 41.8],
 'Spokane': [528502.0, 25740039.0, 37.6],
 'Tulsa': [249050.0, 43454482.0, 35.7],
 'Walla Walla': [17440.0, 961088.0, 37.5],
 'Warren': [-10386.0, 1447065.0, 47.4]}

In [39]:
# List
county_scores_0 = [ ['first', 0, 'row' , 0, 1,1]]#,1,1]]

           
#Create a DataFrame object
county_scores_df_0 = pd.DataFrame(county_scores_0, 
                  columns = ['County_1' , 'Attributes_1', 'County_2', 'Attributes_2', 
                             'Euclidean_Similarity_Score',
                             'Cosine_Similarity_Score',])
                             #'Manhattan_Similarity_Score',
                             #'Jaccard_Similarity_Score']) 
county_scores_df_0

  County_1  Attributes_1  ... Euclidean_Similarity_Score  Cosine_Similarity_Score
0    first             0  ...                          1                        1

[1 rows x 6 columns]

In [40]:
# List
county_scores_1 = [ ['first', 1, 'row' , 1, 1,1]]#,1,1]]

           
#Create a DataFrame object
county_scores_df_1 = pd.DataFrame(county_scores_1, 
                  columns = ['County_1' , 'Attributes_1', 'County_2', 'Attributes_2', 
                             'Euclidean_Similarity_Score',
                             'Cosine_Similarity_Score',])
                             #'Manhattan_Similarity_Score',
                             #'Jaccard_Similarity_Score']) 
county_scores_df_1

  County_1  Attributes_1  ... Euclidean_Similarity_Score  Cosine_Similarity_Score
0    first             1  ...                          1                        1

[1 rows x 6 columns]

In [41]:
# List
county_scores_2 = [ ['first', 2, 'row' , 2, 2,2]]#,2,2]]

           
#Create a DataFrame object
county_scores_df_2 = pd.DataFrame(county_scores_2, 
                  columns = ['County_1' , 'Attributes_1', 'County_2', 'Attributes_2', 
                             'Euclidean_Similarity_Score',
                             'Cosine_Similarity_Score',])
                             #'Manhattan_Similarity_Score',
                             #'Jaccard_Similarity_Score']) 
county_scores_df_2

  County_1  Attributes_1  ... Euclidean_Similarity_Score  Cosine_Similarity_Score
0    first             2  ...                          2                        2

[1 rows x 6 columns]

In [42]:
# List
county_scores_3 = [ ['first', 3, 'row' , 3, 3,3]]#,3,3]]

           
#Create a DataFrame object
county_scores_df_3 = pd.DataFrame(county_scores_3, 
                  columns = ['County_1' , 'Attributes_1', 'County_2', 'Attributes_2', 
                             'Euclidean_Similarity_Score',
                             'Cosine_Similarity_Score',])
                             #'Manhattan_Similarity_Score',
                             #'Jaccard_Similarity_Score']) 
county_scores_df_3

  County_1  Attributes_1  ... Euclidean_Similarity_Score  Cosine_Similarity_Score
0    first             3  ...                          3                        3

[1 rows x 6 columns]

In [ ]:
## county level similarity scores
for county_1, value_1 in tqdm(county_data_dict_0.items()):
    
    for county_2, value_2 in county_data_dict_0.items():
        score_list = []
    
        #To Calculate cosine similarity        
        eucl_score = distance.euclidean(value_1,value_2)
        cosine_score = 1- spatial.distance.cosine(value_1,value_2)
        #manhattan_score = manhattan_distance(np.array(value_1, dtype=float), np.array(value_2, dtype=float))
        #jaccard_score = jaccard_similarity(value_1,value_2)
        minowski_score = 1- spatial.distance.minkowski(value_1,value_2)
        list_1 = [county_1, value_1, county_2, value_2, eucl_score, cosine_score]#,manhattan_score,jaccard_score]
        county_scores_df_0.loc[len(county_scores_df_0)] = list_1

 15%|â–ˆâ–Œ        | 36/240 [00:31<03:06,  1.09it/s]

In [ ]:
## county level similarity scores
for county_1, value_1 in tqdm(county_data_dict_1.items()):
    
    for county_2, value_2 in county_data_dict_1.items():
        score_list = []
    
        #To Calculate cosine similarity        
        eucl_score = distance.euclidean(value_1,value_2)
        cosine_score = 1- spatial.distance.cosine(value_1,value_2)
        #manhattan_score = manhattan_distance(np.array(value_1, dtype=float), np.array(value_2, dtype=float))
        #jaccard_score = jaccard_similarity(value_1,value_2)
        minowski_score = 1- spatial.distance.minkowski(value_1,value_2)
        list_1 = [county_1, value_1, county_2, value_2, eucl_score, cosine_score]#,manhattan_score,jaccard_score]
        county_scores_df_1.loc[len(county_scores_df_1)] = list_1

In [ ]:
## county level similarity scores
for county_2, value_2 in tqdm(county_data_dict_2.items()):
    
    for county_2, value_2 in county_data_dict_2.items():
        score_list = []
    
        #To Calculate cosine similarity        
        eucl_score = distance.euclidean(value_2,value_2)
        cosine_score = 1- spatial.distance.cosine(value_2,value_2)
        #manhattan_score = manhattan_distance(np.array(value_2, dtype=float), np.array(value_2, dtype=float))
        #jaccard_score = jaccard_similarity(value_2,value_2)
        minowski_score = 1- spatial.distance.minkowski(value_2,value_2)
        list_2 = [county_1, value_1, county_2, value_2, eucl_score, cosine_score]#,manhattan_score,jaccard_score]
        county_scores_df_2.loc[len(county_scores_df_2)] = list_2

In [ ]:
## county level similarity scores
for county_3, value_3 in tqdm(county_data_dict_3.items()):
    
    for county_3, value_3 in county_data_dict_3.items():
        score_list = []
    
        #To Calculate cosine similarity        
        eucl_score = distance.euclidean(value_3,value_3)
        cosine_score = 1- spatial.distance.cosine(value_3,value_3)
        #manhattan_score = manhattan_distance(np.array(value_3, dtype=float), np.array(value_3, dtype=float))
        #jaccard_score = jaccard_similarity(value_3,value_3)
        minowski_score = 1- spatial.distance.minkowski(value_3,value_3)
        list_3 = [county_1, value_1, county_2, value_2, eucl_score, cosine_score]#,manhattan_score,jaccard_score]
        county_scores_df_3.loc[len(county_scores_df_3)] = list_3

In [ ]:
county_scores_df_0
county_scores_df_0['Score_bucket'] = pd.qcut(county_scores_df_0['Euclidean_Similarity_Score'], 3,
                               labels = False)   # 0 = High, 1 = Med, 2 = Low

In [ ]:
county_scores_df_1
county_scores_df_1['Score_bucket'] = pd.qcut(county_scores_df_1['Euclidean_Similarity_Score'], 3,
                               labels = False)   # 1 = High, 1 = Med, 2 = Low

In [ ]:
county_scores_df_2
county_scores_df_2['Score_bucket'] = pd.cut(county_scores_df_2['Euclidean_Similarity_Score'], 3,
                               labels = False)   # 2 = High, 2 = Med, 2 = Low

In [ ]:
county_scores_df_3

county_scores_df_3['Score_bucket'] = pd.cut(county_scores_df_3['Euclidean_Similarity_Score'], 3,
                               labels = False)   # 3 = High, 3 = Med, 3 = Low

In [ ]:
county_scores_df_0.to_csv("county_scores_final_group_0.csv")

In [ ]:
county_scores_df_1.to_csv("county_scores_final_group_1.csv")

In [ ]:
county_scores_df_2.to_csv("county_scores_final_group_2.csv")

In [ ]:
county_scores_df_3.to_csv("county_scores_final_group_3.csv")

In [ ]:
banks_group0_crossjoin = banks_group0
banks_group0_crossjoin = banks_group0_crossjoin.drop(['NetFlow', 'Population', 'Median_age_years', 'Net_Migration_per_1000_of_Population',"State_Code_x"], axis = 1)

## Cross join
# importing pandas module


# Now to perform cross join, we will create
# a key column in both the DataFrames to
# merge on that key.
banks_group0_crossjoin['key'] = 1


# to obtain the cross join we will merge
# on the key and drop it.
banks_group0_crossjoin_final = pd.merge(banks_group0_crossjoin, banks_group0_crossjoin, on ='key').drop("key", 1)



## Join similarity score

joined__on_2_cond_table = banks_group0_crossjoin_final.merge(county_scores_df, how='inner', left_on=['County_x', 'County_y'], right_on=['County_1', 'County_2'])

## Remove unwanted columns
joined__on_2_cond_table = joined__on_2_cond_table.drop(['County_1', 'Attributes_1', 'County_2', 'Attributes_2',"Cosine_Similarity_Score"
                                                        #, 'Manhattan_Similarity_Score', 'Jaccard_Similarity_Score'
                                                        ,'Euclidean_Similarity_Score'], axis = 1)

In [ ]:
banks_group0_crossjoin = banks_group0
banks_group0_crossjoin = banks_group0_crossjoin.drop(['NetFlow', 'Population', 'Median_age_years', 'Net_Migration_per_1000_of_Population',"State_Code_x"], axis = 1)

## Cross join
# importing pandas module


# Now to perform cross join, we will create
# a key column in both the DataFrames to
# merge on that key.
banks_group0_crossjoin['key'] = 1


# to obtain the cross join we will merge
# on the key and drop it.
banks_group0_crossjoin_final = pd.merge(banks_group0_crossjoin, banks_group0_crossjoin, on ='key').drop("key", 1)



## Join similarity score

joined__on_2_cond_table_group0 = banks_group0_crossjoin_final.merge(county_scores_df, how='inner', left_on=['County_x', 'County_y'], right_on=['County_1', 'County_2'])

## Remove unwanted columns
joined__on_2_cond_table_group0 = joined__on_2_cond_table.drop(['County_1', 'Attributes_1', 'County_2', 'Attributes_2',"Cosine_Similarity_Score"
                                                        #, 'Manhattan_Similarity_Score', 'Jaccard_Similarity_Score'
                                                        ,'Euclidean_Similarity_Score'], axis = 1)

In [ ]:
banks_group1_crossjoin = banks_group1
banks_group1_crossjoin = banks_group1_crossjoin.drop(['NetFlow', 'Population', 'Median_age_years', 'Net_Migration_per_1000_of_Population',"State_Code_x"], axis = 1)

## Cross join
# importing pandas module


# Now to perform cross join, we will create
# a key column in both the DataFrames to
# merge on that key.
banks_group1_crossjoin['key'] = 1


# to obtain the cross join we will merge
# on the key and drop it.
banks_group1_crossjoin_final = pd.merge(banks_group1_crossjoin, banks_group1_crossjoin, on ='key').drop("key", 1)



## Join similarity score

joined__on_2_cond_table_group1 = banks_group1_crossjoin_final.merge(county_scores_df, how='inner', left_on=['County_x', 'County_y'], right_on=['County_1', 'County_2'])

## Remove unwanted columns
joined__on_2_cond_table_group1 = joined__on_2_cond_table.drop(['County_1', 'Attributes_1', 'County_2', 'Attributes_2',"Cosine_Similarity_Score"
                                                        #, 'Manhattan_Similarity_Score', 'Jaccard_Similarity_Score'
                                                        ,'Euclidean_Similarity_Score'], axis = 1)
banks_group1_crossjoin = banks_group1
banks_group1_crossjoin = banks_group1_crossjoin.drop(['NetFlow', 'Population', 'Median_age_years', 'Net_Migration_per_1000_of_Population',"State_Code_x"], axis = 1)

## Cross join
# importing pandas module


# Now to perform cross join, we will create
# a key column in both the DataFrames to
# merge on that key.
banks_group1_crossjoin['key'] = 1


# to obtain the cross join we will merge
# on the key and drop it.
banks_group1_crossjoin_final = pd.merge(banks_group1_crossjoin, banks_group1_crossjoin, on ='key').drop("key", 1)



## Join similarity score

joined__on_2_cond_table_group0 = banks_group1_crossjoin_final.merge(county_scores_df, how='inner', left_on=['County_x', 'County_y'], right_on=['County_1', 'County_2'])

## Remove unwanted columns
joined__on_2_cond_table_group0 = joined__on_2_cond_table.drop(['County_1', 'Attributes_1', 'County_2', 'Attributes_2',"Cosine_Similarity_Score"
                                                        #, 'Manhattan_Similarity_Score', 'Jaccard_Similarity_Score'
                                                        ,'Euclidean_Similarity_Score'], axis = 1)

In [ ]:
banks_group2_crossjoin = banks_group2
banks_group2_crossjoin = banks_group2_crossjoin.drop(['NetFlow', 'Population', 'Median_age_years', 'Net_Migration_per_1000_of_Population',"State_Code_x"], axis = 1)

## Cross join
# importing pandas module


# Now to perform cross join, we will create
# a key column in both the DataFrames to
# merge on that key.
banks_group2_crossjoin['key'] = 1


# to obtain the cross join we will merge
# on the key and drop it.
banks_group2_crossjoin_final = pd.merge(banks_group2_crossjoin, banks_group2_crossjoin, on ='key').drop("key", 1)



## Join similarity score

joined__on_2_cond_table_group2 = banks_group2_crossjoin_final.merge(county_scores_df, how='inner', left_on=['County_x', 'County_y'], right_on=['County_1', 'County_2'])

## Remove unwanted columns
joined__on_2_cond_table_group2 = joined__on_2_cond_table.drop(['County_1', 'Attributes_1', 'County_2', 'Attributes_2',"Cosine_Similarity_Score"
                                                        #, 'Manhattan_Similarity_Score', 'Jaccard_Similarity_Score'
                                                        ,'Euclidean_Similarity_Score'], axis = 1)

In [ ]:
banks_group3_crossjoin = banks_group3
banks_group3_crossjoin = banks_group3_crossjoin.drop(['NetFlow', 'Population', 'Median_age_years', 'Net_Migration_per_1000_of_Population',"State_Code_x"], axis = 1)

## Cross join
# importing pandas module


# Now to perform cross join, we will create
# a key column in both the DataFrames to
# merge on that key.
banks_group3_crossjoin['key'] = 1


# to obtain the cross join we will merge
# on the key and drop it.
banks_group3_crossjoin_final = pd.merge(banks_group3_crossjoin, banks_group3_crossjoin, on ='key').drop("key", 1)



## Join similarity score

joined__on_2_cond_table_group3 = banks_group3_crossjoin_final.merge(county_scores_df, how='inner', left_on=['County_x', 'County_y'], right_on=['County_1', 'County_2'])

## Remove unwanted columns
joined__on_2_cond_table_group3 = joined__on_2_cond_table.drop(['County_1', 'Attributes_1', 'County_2', 'Attributes_2',"Cosine_Similarity_Score"
                                                        #, 'Manhattan_Similarity_Score', 'Jaccard_Similarity_Score'
                                                        ,'Euclidean_Similarity_Score'], axis = 1)